#title-div {
  position: absolute;
}

#title-div h1 {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
}

#title-div a {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
}