#journal-div {
  position: absolute;
}

#journal-form {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: left;
}

#title-input {
  width: 300px;
}

#content-input {
  width: 300px;
  height: 200px;
}

.journal {
  position: relative;
}