#journal-div {
}

#journal-form {

}

label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: left;
}

#title-input {
  width: 300px;
  border: 1px solid black;
}

#content-input {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
#date-input {
  border: 1px solid black;
}
.journal {
  
}