#journal-div {
  width: 100%;
}
.journal {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 2rem 1rem;
}
.journal h2 {
  margin-top: 0;
}
.journal-btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 8px;
  right: 10px;
  height: 30px;
  width: 80px;
}
.journal-btns button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.journal-btns button:hover {
  color: red;
}