#journal-div {
  width: 100%;
}
.journal {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.journal-btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 10px;
  height: 30px;
  width: 80px;
}
.journal-btns button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.journal-btns button:hover {
  color: red;
}