#page-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#page-div h1 {

}

#page-div h3 {
  margin-left: auto;
  margin-right: auto;
}

#page-div a {
}

#id-form {
  width: 200px;
}