#page-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#page-div h3 {
  margin-left: auto;
  margin-right: auto;
}
#id-form {
  position: relative;
  margin: 0 auto;
}
#id-form input {
  padding: 1rem;
  margin-bottom: .5rem;
}