#page-div {
  position: absolute;
}

#page-div h1 {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
}

#page-div a {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
}

#id-form {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  width: 200px;
}