#sidebar {
  position: fixed;
  display: none;
  top: 48px;
  left: 5px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 10px 4px rgba(190, 190, 190, 0.61);
  z-index: 10000;
}

#sidebar.clicked {
  display: block;
}

#downArrowBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10000;
  background-color: #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: inset 0 0 15px rgba(247, 198, 107, 0);
  transition: box-shadow ease-in-out 0.5s;
  transition: background-color ease-in-out .2s;
}
#downArrowBtn:hover {
  background-color: #ccc;
}
#downArrowBtn.clicked {
  background-color: #ddd;
  box-shadow: inset 0 0 15px rgb(160, 255, 96, 1);

}
#menuList button {
  width: 100%;
  font-size: 1rem;
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 1rem;
}
#menuList button:hover {
  background-color: var(--background-color);
}
#logout {
  width: 60px;
  height: 60px;
  background-color: rgba(0,0,0,0);
  border: none;
}