#sidebar {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100vh;
  box-shadow: 10px 10px 20px rgba(0,0,0,0);
  background-color: rgba(255, 163, 84, 0);
  transform: translatex(-150px);
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(0px);
  z-index: -1;
}

#sidebar.clicked {
  box-shadow: 10px 0px 25px rgba(0,0,0,0.5);
  background-color: rgba(250, 160, 82, 0.644);
  transform: translateX(0);
  backdrop-filter: blur(5px);
  z-index: 1;
}

#hamburger {
  position: absolute;
  width: 200px;
  top: 3px;
  left: 155px;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  transform: translateX(-150px);
}
#hamburger.clicked {
  transform: translateX(0px);
}
#menuList {
  padding-top: 100px;
}