#sidebar {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100vh;
  box-shadow: 10px 10px 20px rgba(0,0,0,0);
  background-color: rgba(250, 160, 82, 0.644);
  opacity: 0;
  transform: translatex(-150px);
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(0px);
  z-index: -1;
}

#sidebar.clicked {
  box-shadow: 10px 0px 25px rgba(0,0,0,0.5);
  background-color: rgba(250, 160, 82, 0.644);
  transform: translateX(0);
  backdrop-filter: blur(5px);
  opacity: 1;
  z-index: 1000;
}
#sidebar button {
  font-size: 1rem;
}
#hamburger {
  position: fixed;
  width: 200px;
  top: 3px;
  left: 155px;
  transition: all 0.5s ease-in-out;
  z-index: 1001;
  transform: translateX(-150px);
}
#hamburger.clicked {
  transform: translateX(0px);
}
#menuList {
  padding-top: 100px;
}

#menuList button {
  width: 100%;
}

#logout {
  width: 60px;
  height: 60px;
  background-color: rgba(0,0,0,0);
  border: none;
}